{% extends "layouts/base.html" %}

{% block title %}Payment Page{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-2xl font-bold mb-4 text-center">Complete Your Payment</h1>
        <p class="text-gray-600 mb-6 text-center">Please enter your phone number to complete the payment for <strong>{{ product.name }}</strong>. The total amount is <strong>KES {{ product.price }}</strong>.</p>
        
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="phone_number" class="block text-sm font-medium text-gray-700 mb-2">Phone Number:</label>
                <input type="text" id="phone_number" name="phone_number" class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" required>
            </div>
            {% if error_message %}
            <p class="text-red-500 text-sm mb-4">{{ error_message }}</p>
            {% endif %}
            <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Pay Now</button>
        </form>
    </div>
</div>
{% endblock %}
