{% extends "layouts/base.html" %}

{% block title %}Product Listing{% endblock %}



{% block content %}
<!-- Hero Section -->
<section class="relative  text-white py-16 text-center overflow-hidden">
    <!-- Background Image -->
    <div class="absolute inset-0">
        <img src="https://via.placeholder.com/1500x800" alt="Hero Background" class="w-full h-full object-cover opacity-50">
    </div>
    <!-- Overlay -->
    <div class="relative z-10 bg-gradient-to-t from-gray-800 via-gray-800 to-transparent py-16 px-6">
        <h1 class="text-4xl md:text-5xl font-bold mb-4 leading-tight">Discover Our Premium Foods</h1>
        <p class="text-lg md:text-xl mb-6">Explore a curated selection of top-quality Foods designed for your needs. Find what you love today!</p>
        <a href="{% url 'product_list' %}" class="bg-gray-500 hover:bg-gray-600 text-white px-6 py-3 rounded-lg text-lg font-semibold transition-colors duration-300">Browse Now</a>
    </div>
</section>

<!-- Product Listing Section -->
<section class="container mx-auto py-8">
    <h2 class="text-3xl font-semibold mb-4 text-center">Our Foods</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for product in products %}
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-64 object-cover rounded-t-lg mb-4">
                {% else %}
                    <div class="w-full h-64 bg-gray-200 rounded-t-lg mb-4"></div>
                {% endif %}
                <div class="p-4">
                    <h3 class="text-2xl font-semibold mb-2 text-gray-800">{{ product.name }}</h3>
                    <p class="text-gray-600 mb-2 text-lg">KES{{ product.price }}</p>
                    <p class="text-gray-500 mb-4">{{ product.short_description|truncatewords:15 }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors duration-300 text-lg">View Details</a>
                </div>
            </div>
        {% empty %}
            <p class="text-gray-500 text-center">No products available.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
